/venv/
/01 Graph Theory/TeX/v5.0/algebrabook.aux
/01 Graph Theory/TeX/v5.0/algebrabook.bbl
/01 Graph Theory/TeX/v5.0/algebrabook.bcf
/01 Graph Theory/TeX/v5.0/algebrabook.blg
/01 Graph Theory/TeX/v5.0/algebrabook.log
/01 Graph Theory/TeX/v5.0/algebrabook.out
/01 Graph Theory/TeX/v5.0/algebrabook.run.xml
/01 Graph Theory/TeX/v5.0/algebrabook.synctex.gz
/01 Graph Theory/TeX/v5.0/algebrabook.toc
/01 Graph Theory/TeX/v5.0/bibliography.blg
/01 Graph Theory/TeX/v5.0/bibliography.bbl
/01 Graph Theory/TeX/v5.0/texput.log
/01 Graph Theory/TeX/v4.1/algebrabook.aux
/01 Graph Theory/TeX/v4.1/algebrabook.bbl
/01 Graph Theory/TeX/v4.1/algebrabook.bcf
/01 Graph Theory/TeX/v4.1/algebrabook.blg
/01 Graph Theory/TeX/v4.1/algebrabook.log
/01 Graph Theory/TeX/v4.1/algebrabook.out
/01 Graph Theory/TeX/v4.1/algebrabook.run.xml
/01 Graph Theory/TeX/v4.1/algebrabook.synctex.gz
/01 Graph Theory/TeX/v4.1/algebrabook.toc
/01 Graph Theory/TeX/v4.1/bibliography.blg
/01 Graph Theory/TeX/v4.1/bibliography.bbl
/01 Graph Theory/TeX/v4.1/texput.log
/99 Construction Zone/TeX/main.aux
/99 Construction Zone/TeX/main.bbl
/99 Construction Zone/TeX/main.blg
/99 Construction Zone/TeX/main.log
/99 Construction Zone/TeX/main.out
/99 Construction Zone/TeX/main.synctex.gz
