/algebrabook.aux
/algebrabook.bbl
/algebrabook.bcf
/algebrabook.blg
/algebrabook.log
/algebrabook.out
/algebrabook.run.xml
/algebrabook.synctex.gz
/algebrabook.toc
/bibliography.blg
/bibliography.bbl
/texput.log
